/* line 31, ../sass/darkstrap.scss */
/* line 5, ../_sass/_darkstrap.scss */
.well, .breadcrumb, input,
input[type="file"],
select,
textarea, .progress, code, pre {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 33, ../sass/darkstrap.scss */
/* line 15, ../_sass/_darkstrap.scss */
body {
  background: #2f2f2f;
  color: #c6c6c6;
}

/* line 39, ../sass/darkstrap.scss */
/* line 21, ../_sass/_darkstrap.scss */
.breadcrumb {
  border: 0;
}

/* line 42, ../sass/darkstrap.scss */
/* line 25, ../_sass/_darkstrap.scss */
.breadcrumb li {
  text-shadow: 0 1px 0 #000;
}

/* line 48, ../sass/darkstrap.scss */
/* line 30, ../_sass/_darkstrap.scss */
.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* line 49, ../sass/darkstrap.scss */
/* line 39, ../_sass/_darkstrap.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 50, ../sass/darkstrap.scss */
/* line 44, ../_sass/_darkstrap.scss */
h6 {
  color: #999;
}

/* line 57, ../sass/darkstrap.scss */
/* line 51, ../_sass/_darkstrap.scss */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
  background-color: #222222;
  border-color: #2f2f2f #2f2f2f transparent #2f2f2f;
}

/* line 61, ../sass/darkstrap.scss */
/* line 57, ../_sass/_darkstrap.scss */
.nav > .dropdown.active > a:hover {
  color: #fff;
}

/* line 65, ../sass/darkstrap.scss */
/* line 63, ../_sass/_darkstrap.scss */
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #fff;
}

/* line 68, ../sass/darkstrap.scss */
/* line 68, ../_sass/_darkstrap.scss */
.nav-tabs {
  border-bottom: 1px solid #666;
}

/* line 71, ../sass/darkstrap.scss */
/* line 72, ../_sass/_darkstrap.scss */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #2f2f2f;
  color: #fff;
  border-color: #666 #666 transparent #666;
}

/* line 76, ../sass/darkstrap.scss */
/* line 78, ../_sass/_darkstrap.scss */
.nav-tabs > li > a:hover {
  border-color: #2f2f2f #2f2f2f #666666 #2f2f2f;
  background-color: #222222;
  color: #00aaff;
}

/* line 83, ../sass/darkstrap.scss */
/* line 84, ../_sass/_darkstrap.scss */
.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
  border-color: #666;
}

/* line 89, ../sass/darkstrap.scss */
/* line 89, ../_sass/_darkstrap.scss */
.nav-pills > li > a:hover {
  background-color: #222222;
  color: #00aaff;
}

/* line 95, ../sass/darkstrap.scss */
/* line 96, ../_sass/_darkstrap.scss */
.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: 0 1px 0 #000;
}

/* line 98, ../sass/darkstrap.scss */
/* line 101, ../_sass/_darkstrap.scss */
.nav-list > li > a:hover {
  background-color: #161616;
  color: #00aaff;
}

/* line 103, ../sass/darkstrap.scss */
/* line 107, ../_sass/_darkstrap.scss */
.nav-list .active > a:hover {
  background-color: #0088cc;
  color: white;
}

/* line 109, ../sass/darkstrap.scss */
/* line 113, ../_sass/_darkstrap.scss */
.tabs-below .nav-tabs {
  border-top: 1px solid #666;
}

/* line 110, ../sass/darkstrap.scss */
/* line 118, ../_sass/_darkstrap.scss */
.tabs-left .nav-tabs {
  border-right: 1px solid #666;
}

/* line 111, ../sass/darkstrap.scss */
/* line 123, ../_sass/_darkstrap.scss */
.tabs-right .nav-tabs {
  border-left: 1px solid #666;
}

/* line 113, ../sass/darkstrap.scss */
/* line 128, ../_sass/_darkstrap.scss */
.tabs-below .nav-tabs > li > a:hover {
  border-top: 1px solid #666;
}

/* line 116, ../sass/darkstrap.scss */
/* line 133, ../_sass/_darkstrap.scss */
.tabs-left .nav-tabs > li > a:hover {
  border-color: transparent #666 transparent transparent;
}

/* line 119, ../sass/darkstrap.scss */
/* line 138, ../_sass/_darkstrap.scss */
.tabs-right .nav-tabs > li > a:hover {
  border-color: transparent transparent transparent #666;
}

/* line 124, ../sass/darkstrap.scss */
/* line 144, ../_sass/_darkstrap.scss */
.tabs-below .nav-tabs .active > a,
.tabs-below .nav-tabs .active > a:hover {
  border-color: transparent #666 #666 #666;
}

/* line 128, ../sass/darkstrap.scss */
/* line 150, ../_sass/_darkstrap.scss */
.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
  border-color: #666 transparent #666 #666;
}

/* line 132, ../sass/darkstrap.scss */
/* line 156, ../_sass/_darkstrap.scss */
.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover {
  border-color: #666 #666 #666 transparent;
}

/* line 2, ../sass/mixins.scss */
/* line 161, ../_sass/_darkstrap.scss */
:-moz-placeholder {
  color: #666666;
}

/* line 5, ../sass/mixins.scss */
/* line 166, ../_sass/_darkstrap.scss */
::-webkit-input-placeholder {
  color: #666666;
}

/* line 140, ../sass/darkstrap.scss */
/* line 172, ../_sass/_darkstrap.scss */
.input-prepend .add-on,
.input-append .add-on {
  background: #444;
  color: #c6c6c6;
  border-color: #111;
  text-shadow: 0 1px 0  black;
}

/* line 147, ../sass/darkstrap.scss */
/* line 180, ../_sass/_darkstrap.scss */
label {
  color: #c6c6c6;
}

/* line 154, ../sass/darkstrap.scss */
/* line 188, ../_sass/_darkstrap.scss */
input,
input[type="file"],
select,
textarea {
  color: white;
  border-color: #111111;
}

/* line 160, ../sass/darkstrap.scss */
/* line 194, ../_sass/_darkstrap.scss */
.search-query {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0) 0 1px 7px 0px inset;
}

/* line 163, ../sass/darkstrap.scss */
/* line 199, ../_sass/_darkstrap.scss */
legend {
  color: white;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* line 167, ../sass/darkstrap.scss */
/* line 209, ../_sass/_darkstrap.scss */
.form-actions {
  border-top-color: #222;
  background-color: #444;
}

/* line 172, ../sass/darkstrap.scss */
/* line 215, ../_sass/_darkstrap.scss */
.help-inline {
  color: #999;
}

/* line 12, ../sass/mixins.scss */
/* line 222, ../_sass/_darkstrap.scss */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #faa732;
}

/* line 13, ../sass/mixins.scss */
/* line 226, ../_sass/_darkstrap.scss */
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: #faa732;
  border-color: #faa732;
}

/* line 20, ../sass/mixins.scss */
/* line 233, ../_sass/_darkstrap.scss */
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #faa732;
  -moz-box-shadow: 0 0 6px #faa732;
  -webkit-box-shadow: 0 0 6px #faa732;
  -o-box-shadow: 0 0 6px #faa732;
  box-shadow: 0 0 6px #faa732;
}

/* line 12, ../sass/mixins.scss */
/* line 241, ../_sass/_darkstrap.scss */
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #5bb75b;
}

/* line 13, ../sass/mixins.scss */
/* line 245, ../_sass/_darkstrap.scss */
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #5bb75b;
  border-color: #5bb75b;
}

/* line 20, ../sass/mixins.scss */
/* line 250, ../_sass/_darkstrap.scss */
.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
  border-color: #5bb75b;
  -moz-box-shadow: 0 0 6px #5bb75b;
  -webkit-box-shadow: 0 0 6px #5bb75b;
  -o-box-shadow: 0 0 6px #5bb75b;
  box-shadow: 0 0 6px #5bb75b;
}

/* line 12, ../sass/mixins.scss */
/* line 258, ../_sass/_darkstrap.scss */
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #fc5b5e;
}

/* line 13, ../sass/mixins.scss */
/* line 262, ../_sass/_darkstrap.scss */
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #fc5b5e;
  border-color: #fc5b5e;
}

/* line 20, ../sass/mixins.scss */
/* line 267, ../_sass/_darkstrap.scss */
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
  border-color: #fc5b5e;
  -moz-box-shadow: 0 0 6px #fc5b5e;
  -webkit-box-shadow: 0 0 6px #fc5b5e;
  -o-box-shadow: 0 0 6px #fc5b5e;
  box-shadow: 0 0 6px #fc5b5e;
}

/* line 182, ../sass/darkstrap.scss */
/* line 276, ../_sass/_darkstrap.scss */
.table thead {
  color: white;
}

/* line 185, ../sass/darkstrap.scss */
/* line 280, ../_sass/_darkstrap.scss */
.table td {
  border-top-color: #666;
}

/* line 191, ../sass/darkstrap.scss */
/* line 285, ../_sass/_darkstrap.scss */
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background-color: #444;
}

/* line 197, ../sass/darkstrap.scss */
/* line 290, ../_sass/_darkstrap.scss */
.table-bordered {
  border: 1px solid #666;
}

/* line 202, ../sass/darkstrap.scss */
/* line 297, ../_sass/_darkstrap.scss */
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #666;
}

/* line 208, ../sass/darkstrap.scss */
/* line 302, ../_sass/_darkstrap.scss */
.pagination a:hover {
  color: #00aaff;
  background-color: #222222;
}

/* line 212, ../sass/darkstrap.scss */
/* line 308, ../_sass/_darkstrap.scss */
.pagination .active a {
  color: #fff;
  background-color: #222222;
}

/* line 216, ../sass/darkstrap.scss */
/* line 314, ../_sass/_darkstrap.scss */
.pagination a {
  border-color: #666;
}

/* line 219, ../sass/darkstrap.scss */
/* line 319, ../_sass/_darkstrap.scss */
.pager a {
  background-color: #2f2f2f;
  border-color: #666;
}

/* line 222, ../sass/darkstrap.scss */
/* line 324, ../_sass/_darkstrap.scss */
.pager a:hover {
  background-color: #222222;
  color: #00aaff;
}

/* line 238, ../sass/darkstrap.scss */
/* line 330, ../_sass/_darkstrap.scss */
.alert {
  color: #fff;
  background-color: #faa732;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #a86404;
}

/* line 234, ../sass/darkstrap.scss */
/* line 337, ../_sass/_darkstrap.scss */
.alert h4 {
  color: #c17305;
}

/* line 239, ../sass/darkstrap.scss */
/* line 342, ../_sass/_darkstrap.scss */
.alert-success {
  color: #fff;
  background-color: #5bb75b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #2d662d;
}

/* line 234, ../sass/darkstrap.scss */
/* line 349, ../_sass/_darkstrap.scss */
.alert-success h4 {
  color: #347834;
}

/* line 240, ../sass/darkstrap.scss */
/* line 354, ../_sass/_darkstrap.scss */
.alert-error {
  color: #fff;
  background-color: #fc5b5e;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #d40408;
}

/* line 234, ../sass/darkstrap.scss */
/* line 361, ../_sass/_darkstrap.scss */
.alert-error h4 {
  color: #ed0409;
}

/* line 241, ../sass/darkstrap.scss */
/* line 366, ../_sass/_darkstrap.scss */
.alert-info {
  color: #fff;
  background-color: #3a87ad;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #1a3c4e;
}

/* line 234, ../sass/darkstrap.scss */
/* line 373, ../_sass/_darkstrap.scss */
.alert-info h4 {
  color: #204b61;
}

/* line 245, ../sass/darkstrap.scss */
/* line 378, ../_sass/_darkstrap.scss */
.modal {
  background-color: #444;
}

/* line 248, ../sass/darkstrap.scss */
/* line 383, ../_sass/_darkstrap.scss */
.modal-header {
  border-bottom: 1px solid #222;
}

/* line 251, ../sass/darkstrap.scss */
/* line 388, ../_sass/_darkstrap.scss */
.modal-body p {
  color: #c6c6c6;
}

/* line 254, ../sass/darkstrap.scss */
/* line 393, ../_sass/_darkstrap.scss */
.modal-footer {
  background-color: #373737;
  border-top: 1px solid #222;
  -moz-box-shadow: 0 1px 0 #333333 inset;
  -webkit-box-shadow: 0 1px 0 #333333 inset;
  -o-box-shadow: 0 1px 0 #333333 inset;
  box-shadow: 0 1px 0 #333333 inset;
}

/* line 266, ../sass/darkstrap.scss */
/* line 403, ../_sass/_darkstrap.scss */
blockquote {
  border-left-color: #111;
}

/* line 268, ../sass/darkstrap.scss */
/* line 407, ../_sass/_darkstrap.scss */
blockquote.pull-right {
  border-right-color: #111;
}

/* line 271, ../sass/darkstrap.scss */
/* line 412, ../_sass/_darkstrap.scss */
hr {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  border-top: none;
}

/* line 277, ../sass/darkstrap.scss */
/* line 422, ../_sass/_darkstrap.scss */
code {
  border: none;
}

/* line 281, ../sass/darkstrap.scss */
/* line 427, ../_sass/_darkstrap.scss */
pre {
  border: none;
  color: #c6c6c6;
}

/* line 1, ../_sass/_pygments.scss */
.hll {
  background-color: #49483e;
}

/* line 2, ../_sass/_pygments.scss */
.c {
  color: #75715e;
}

/* Comment */
/* line 3, ../_sass/_pygments.scss */
.err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
/* line 4, ../_sass/_pygments.scss */
.k {
  color: #66d9ef;
}

/* Keyword */
/* line 5, ../_sass/_pygments.scss */
.l {
  color: #ae81ff;
}

/* Literal */
/* line 6, ../_sass/_pygments.scss */
.n {
  color: #f8f8f2;
}

/* Name */
/* line 7, ../_sass/_pygments.scss */
.o {
  color: #f92672;
}

/* Operator */
/* line 8, ../_sass/_pygments.scss */
.p {
  color: #f8f8f2;
}

/* Punctuation */
/* line 9, ../_sass/_pygments.scss */
.cm {
  color: #75715e;
}

/* Comment.Multiline */
/* line 10, ../_sass/_pygments.scss */
.cp {
  color: #75715e;
}

/* Comment.Preproc */
/* line 11, ../_sass/_pygments.scss */
.c1 {
  color: #75715e;
}

/* Comment.Single */
/* line 12, ../_sass/_pygments.scss */
.cs {
  color: #75715e;
}

/* Comment.Special */
/* line 13, ../_sass/_pygments.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 14, ../_sass/_pygments.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 15, ../_sass/_pygments.scss */
.kc {
  color: #66d9ef;
}

/* Keyword.Constant */
/* line 16, ../_sass/_pygments.scss */
.kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
/* line 17, ../_sass/_pygments.scss */
.kn {
  color: #f92672;
}

/* Keyword.Namespace */
/* line 18, ../_sass/_pygments.scss */
.kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
/* line 19, ../_sass/_pygments.scss */
.kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
/* line 20, ../_sass/_pygments.scss */
.kt {
  color: #66d9ef;
}

/* Keyword.Type */
/* line 21, ../_sass/_pygments.scss */
.ld {
  color: #e6db74;
}

/* Literal.Date */
/* line 22, ../_sass/_pygments.scss */
.m {
  color: #ae81ff;
}

/* Literal.Number */
/* line 23, ../_sass/_pygments.scss */
.s {
  color: #e6db74;
}

/* Literal.String */
/* line 24, ../_sass/_pygments.scss */
.na {
  color: #a6e22e;
}

/* Name.Attribute */
/* line 25, ../_sass/_pygments.scss */
.nb {
  color: #f8f8f2;
}

/* Name.Builtin */
/* line 26, ../_sass/_pygments.scss */
.nc {
  color: #a6e22e;
}

/* Name.Class */
/* line 27, ../_sass/_pygments.scss */
.no {
  color: #66d9ef;
}

/* Name.Constant */
/* line 28, ../_sass/_pygments.scss */
.nd {
  color: #a6e22e;
}

/* Name.Decorator */
/* line 29, ../_sass/_pygments.scss */
.ni {
  color: #f8f8f2;
}

/* Name.Entity */
/* line 30, ../_sass/_pygments.scss */
.ne {
  color: #a6e22e;
}

/* Name.Exception */
/* line 31, ../_sass/_pygments.scss */
.nf {
  color: #a6e22e;
}

/* Name.Function */
/* line 32, ../_sass/_pygments.scss */
.nl {
  color: #f8f8f2;
}

/* Name.Label */
/* line 33, ../_sass/_pygments.scss */
.nn {
  color: #f8f8f2;
}

/* Name.Namespace */
/* line 34, ../_sass/_pygments.scss */
.nx {
  color: #a6e22e;
}

/* Name.Other */
/* line 35, ../_sass/_pygments.scss */
.py {
  color: #f8f8f2;
}

/* Name.Property */
/* line 36, ../_sass/_pygments.scss */
.nt {
  color: #f92672;
}

/* Name.Tag */
/* line 37, ../_sass/_pygments.scss */
.nv {
  color: #f8f8f2;
}

/* Name.Variable */
/* line 38, ../_sass/_pygments.scss */
.ow {
  color: #f92672;
}

/* Operator.Word */
/* line 39, ../_sass/_pygments.scss */
.w {
  color: #f8f8f2;
}

/* Text.Whitespace */
/* line 40, ../_sass/_pygments.scss */
.mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
/* line 41, ../_sass/_pygments.scss */
.mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
/* line 42, ../_sass/_pygments.scss */
.mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
/* line 43, ../_sass/_pygments.scss */
.mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
/* line 44, ../_sass/_pygments.scss */
.sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
/* line 45, ../_sass/_pygments.scss */
.sc {
  color: #e6db74;
}

/* Literal.String.Char */
/* line 46, ../_sass/_pygments.scss */
.sd {
  color: #e6db74;
}

/* Literal.String.Doc */
/* line 47, ../_sass/_pygments.scss */
.s2 {
  color: #e6db74;
}

/* Literal.String.Double */
/* line 48, ../_sass/_pygments.scss */
.se {
  color: #ae81ff;
}

/* Literal.String.Escape */
/* line 49, ../_sass/_pygments.scss */
.sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
/* line 50, ../_sass/_pygments.scss */
.si {
  color: #e6db74;
}

/* Literal.String.Interpol */
/* line 51, ../_sass/_pygments.scss */
.sx {
  color: #e6db74;
}

/* Literal.String.Other */
/* line 52, ../_sass/_pygments.scss */
.sr {
  color: #e6db74;
}

/* Literal.String.Regex */
/* line 53, ../_sass/_pygments.scss */
.s1 {
  color: #e6db74;
}

/* Literal.String.Single */
/* line 54, ../_sass/_pygments.scss */
.ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
/* line 55, ../_sass/_pygments.scss */
.bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
/* line 56, ../_sass/_pygments.scss */
.vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
/* line 57, ../_sass/_pygments.scss */
.vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
/* line 58, ../_sass/_pygments.scss */
.vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
/* line 59, ../_sass/_pygments.scss */
.il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 13, 2012 12:50:42 AM America/New_York */
@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-webfont.eot");
  src: url("../fonts/Oxygen-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Oxygen-webfont.woff") format("woff"), url("../fonts/Oxygen-webfont.ttf") format("truetype"), url("../fonts/Oxygen-webfont.svg#OxygenRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-Italic-webfont.eot");
  src: url("../fonts/Oxygen-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Oxygen-Italic-webfont.woff") format("woff"), url("../fonts/Oxygen-Italic-webfont.ttf") format("truetype"), url("../fonts/Oxygen-Italic-webfont.svg#OxygenItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-Bold-webfont.eot");
  src: url("../fonts/Oxygen-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Oxygen-Bold-webfont.woff") format("woff"), url("../fonts/Oxygen-Bold-webfont.ttf") format("truetype"), url("../fonts/Oxygen-Bold-webfont.svg#OxygenBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-BoldItalic-webfont.eot");
  src: url("../fonts/Oxygen-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Oxygen-BoldItalic-webfont.woff") format("woff"), url("../fonts/Oxygen-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Oxygen-BoldItalic-webfont.svg#OxygenBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* Partials */
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(oxygen.css);
/* Theme Vars */
/* Compass Vars */
/* Override some defaults */
/* line 13, ../_sass/_base.scss */
html, body {
  background-color: #2a2a2a;
}

/* line 17, ../_sass/_base.scss */
body {
  color: #bbb;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

/* line 24, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #999;
  text-rendering: optimizelegibility;
  font-family: 'Advent Pro', sans-serif;
  /*font-family: 'Pontano Sans', sans-serif;*/
  text-shadow: 1px 1px 1px #000;
}

/* line 34, ../_sass/_base.scss */
a {
  color: #4cb4e8;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 36, ../_sass/_base.scss */
a:hover {
  color: #d4edf9;
  text-decoration: none;
}

/* line 43, ../_sass/_base.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 48, ../_sass/_base.scss */
h1, h2 {
  margin: 0 0 15px;
}

/* line 52, ../_sass/_base.scss */
h1 {
  font-size: 40px;
}

/* line 56, ../_sass/_base.scss */
h2 {
  font-size: 30px;
}

/* line 60, ../_sass/_base.scss */
pre, code {
  color: #ccc;
}

/* line 64, ../_sass/_base.scss */
pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/* line 73, ../_sass/_base.scss */
hr {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  height: 1px;
}

/* Layout */
/* line 80, ../_sass/_base.scss */
.navbar {
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #000;
}
/* line 83, ../_sass/_base.scss */
.navbar div.navbar-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 85, ../_sass/_base.scss */
.navbar div.navbar-inner a.brand {
  padding: 10px 20px;
}
/* line 90, ../_sass/_base.scss */
.navbar div.navbar-inner ul.nav:first-child li a {
  padding: 12px 10px 8px;
}

/* line 99, ../_sass/_base.scss */
.container > footer {
  margin-top: 20px;
  clear: both;
}

/* line 103, ../_sass/_base.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

/* Content */
/* line 110, ../_sass/_base.scss */
.content {
  /* when there's no page-header */
  /* Wide column content */
}
/* line 111, ../_sass/_base.scss */
.content img {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* line 115, ../_sass/_base.scss */
.content.no-header {
  padding-top: 40px;
}
/* line 122, ../_sass/_base.scss */
.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}
/* line 128, ../_sass/_base.scss */
.content div.row div.span4 h4 {
  margin-top: 10px;
}
/* line 130, ../_sass/_base.scss */
.content div.row div.span4 h4:first {
  margin-top: 0;
}
/* line 134, ../_sass/_base.scss */
.content p {
  padding-bottom: 15px;
  line-height: 25px;
  margin: 0;
}

/* Page header tweaks */
/* line 142, ../_sass/_base.scss */
.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  text-shadow: 1px 1px 1px #000;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 156, ../_sass/_base.scss */
.page-header h1 {
  color: #eee;
  margin-bottom: 0;
}

/* line 162, ../_sass/_base.scss */
.topbar .btn {
  border: 0;
}

/* Pagination */
/* line 169, ../_sass/_base.scss */
div.pagination li a {
  -moz-box-shadow: 0px 1px 1px black;
  -webkit-box-shadow: 0px 1px 1px black;
  -o-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px black;
}

/* Buttons */
/* line 177, ../_sass/_base.scss */
a.btn, a.btn.disabled {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px #000;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 188, ../_sass/_base.scss */
a.btn:hover, a.btn.disabled:hover {
  background: rgba(255, 255, 255, 0.05);
}
/* line 191, ../_sass/_base.scss */
a.btn.disabled, a.btn.disabled.disabled {
  color: rgba(255, 255, 255, 0.3);
}

/* Tags */
/* line 197, ../_sass/_base.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}
/* line 203, ../_sass/_base.scss */
.tag_box.inline li {
  float: left;
}
/* line 207, ../_sass/_base.scss */
.tag_box li {
  line-height: 28px;
}
/* line 211, ../_sass/_base.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
/* line 216, ../_sass/_base.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 224, ../_sass/_base.scss */
.tag_box.inline a,
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 236, ../_sass/_base.scss */
.tag_box.inline a:hover,
.tag_box a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Page-specific */
/* line 243, ../_sass/_base.scss */
div.content div#page-index {
  padding-top: 30px !important;
}

/* Zocial Overrides */
/* line 249, ../_sass/_base.scss */
.navbar a.zocial {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 255, ../_sass/_base.scss */
.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important;
}

/* line 260, ../_sass/_base.scss */
.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important;
}

/* line 266, ../_sass/_base.scss */
.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important;
}

/* Layout */
/* line 2, ../_sass/_responsive.scss */
.navbar {
  margin-bottom: 0;
}
/* line 4, ../_sass/_responsive.scss */
.navbar div.navbar-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 7, ../_sass/_responsive.scss */
.navbar ul.social {
  /* Hide social menu on low-res screens */
}
@media (min-width: 240px) and (max-width: 979px) {
  /* line 7, ../_sass/_responsive.scss */
  .navbar ul.social {
    display: none !important;
  }
}

/* Responsive Overrides */
@media (max-width: 767px) {
  /* line 18, ../_sass/_responsive.scss */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 23, ../_sass/_responsive.scss */
  div.container {
    padding: 0px 20px;
  }
  /* line 25, ../_sass/_responsive.scss */
  div.container div.page-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
  }
}
/* Posts */
/* line 3, ../_sass/_post.scss */
article.post header {
  margin-bottom: 10px;
}
/* line 5, ../_sass/_post.scss */
article.post header h1, article.post header h2 {
  margin: 0;
}
/* line 8, ../_sass/_post.scss */
article.post header .category {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

/* line 25, ../_sass/_post.scss */
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
/* line 28, ../_sass/_post.scss */
div.posts article div.date time {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

/* This is for your site's custom styling */
/* line 2, ../_sass/_custom.scss */
div.sidebar section {
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
}
/* line 15, ../_sass/_custom.scss */
div.sidebar section img.icon {
  float: left;
  margin: 7px 15px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* Footer */
/* line 26, ../_sass/_custom.scss */
footer {
  text-shadow: 1px 1px 1px #000;
}

/* code / pre styling */
/* line 31, ../_sass/_custom.scss */
code, pre {
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  /*white-space: pre-wrap;*/
  overflow: auto;
}

/* Reset code/pre styles for Gist */
/* line 41, ../_sass/_custom.scss */
.gist code, .gist pre {
  /* Reset bootstrap styles */
  padding: 0;
  border: none;
  background: transparent;
  background-color: transparent;
  color: inherit;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  /*white-space: pre-wrap;*/
  overflow: auto;
  /* Reset darkstrap styles */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
